// ------------------------
//         GLOBAL
// ------------------------
// @import './partials/layout.scss';
// @import './partials/mixins.scss';
// @import './partials/typography.scss';
// @import './partials/variables.scss';
@import "/node_modules/bootstrap/scss/bootstrap";
@import './partials/reset.scss';